<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab2.Properties.Settings.Чернов_лаб1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Чернов_лаб1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Lab2.Properties.Settings.FootballConnectionString"
            connectionString="Data Source=KIRILL_COMP\SQLEXPRESS;Initial Catalog=Football;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>